# The URL the site will be built for
base_url = "https://blog.basix.tech"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code = true
highlight_theme = "monokai"

# Generate atom.xml
generate_feed = true

# https://www.getzola.org/themes/after-dark/
theme = "after-dark"

# Multilangual setups
default_language = "en"
languages = [
    {code = "ko", feed = true},
]

taxonomies = [
    { name = "categories", feed = true, lang = "en" },
    { name = "categories", feed = true, lang = "ko" },
    { name = "tags", feed = true, lang = "en" },
    { name = "tags", feed = true, lang = "ko" },
]

[extra]
after_dark_menu = [
    {url = "$BASE_URL", name = "Home"},
    {url = "$BASE_URL/categories", name = "Categories"},
    {url = "$BASE_URL/tags", name = "Tags"},
    {url = "$BASE_URL/ko", name = "한국어"},
    {url = "https://basix.tech", name = "About me"},
]